#root {
  max-width: 1280px;


  text-align: center;
}


.content-container {
  position: relative;
  overflow: hidden;
  height: 100%;
  width: 100%;
}

.animated-content {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: transform 0.5s ease-in-out;
}

